@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d131f; /* fallback */
  }
}

@layer utilities {
  /* Custom scrollbar for matrix and cpu usage */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #161c27;
  }
  ::-webkit-scrollbar-thumb {
    background: #3c4947;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #869491;
  }

  /* Responsive formatting for unbroken text and Markdown */
  .prose pre {
    @apply max-w-full overflow-x-auto;
  }
  .prose p, .prose li, .prose code, .break-all-text {
    @apply break-words;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
}
